<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui" />

  <!--<base href="http://<?= $base_url; ?>" />-->

  <title>xTimr 时间管理</title>

  <link rel="stylesheet" href="lib/pure.min.css" />
  <link rel="stylesheet" href="resources/pure.css" />
  <link rel="stylesheet" href="resources/style.css" />

  <script type="text/javascript" src="lib/angular.min.js"></script>
  <script type="text/javascript" src="lib/d3.js"></script>
  <script type="text/javascript" src="lib/d3.layout.js"></script>
  <script type="text/javascript" src="lib/d3.layout.cloud.js"></script>
  <!--<link rel="dns-prefetch" href="//hitour.qiniudn.com/">-->
</head>
<body ng-app="XtimrApp" ng-controller="rootCtrl" ng-csp>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
      <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="#">xTimr</a>
        <ul>
          <li ng-repeat="tab in local.tabs" ng-class="{ 'pure-menu-selected': local.current_tab == tab.key }">
            <a ng-bind="tab.label" ng-click="switchToTab( tab.key )"></a>
          </li>
        </ul>
      </div>
    </div>

    <div ng-show="local.current_tab == 'overview'">
      <div class="header">
        <h1>数据概览</h1>
      </div>
      <div class="content">
        <div class="pure-g">

          <div class="pure-u-1-2">
            <h2 class="content-subhead">网站类别</h2>
            <div class="pure-g fake-hover" ng-repeat="record in data.browse.data" ng-click="local.current_pie = $index">
              <div class="pure-u-1-5" ng-bind="record.type"></div>
              <div class="pure-u-3-4 progress">
                <div class="current-progress" ng-style="{ 'width': ( record.seconds / data.browse.total_time * 100 ) + '%' }"></div>
              </div>
            </div>
          </div>

          <div class="pure-u-1-2">
            <h2 class="content-subhead">访问的网址</h2>
            <p>点击类别查看详情</p>
            <div ng-class="'pie' + $index" ng-repeat="record in data.browse.data" ng-show="local.current_pie === $index"></div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="local.current_tab == 'analysis'">
      <div class="header">
        <h1>个人分析</h1>
        <h2>恭喜你，你是<span class="color-blue" ng-bind="data.analysis.type"></span></h2>
      </div>
      <div class="content">
        <h2 class="content-subhead">你喜欢的访问内容</h2>

        <div id="word-map"></div>
      </div>
    </div>
    <!--<div id="main" ng-show="local.current_tab == 'overview'">
      <div class="header">
        <h1></h1>
        <h2></h2>
      </div>

      <div class="content">
        <h2 class="content-subhead"></h2>
        <p></p>

        <div class="pure-g">
          <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
          </div>
          <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
          </div>
          <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
          </div>
          <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
          </div>
        </div>
      </div>
    </div>-->
  </div>

  <script type="text/javascript" src="resources/rootCtrl.js"></script>
</body>
</html>
